

/* Navbar */

.navbar {
	background:#346d7e;
	backface-visibility: hidden;
}
.navbar.navbar-no-bg {background: #346d7e;}

.navbar-dark .navbar-nav { font-size: 15px; color: #ffffff; font-weight: 600; }
.navbar-dark .navbar-nav .nav-link { color: #ffffff; border: 0; }
.navbar-dark .navbar-nav .nav-link:hover { color: #dfe9ec; }
.navbar-dark .navbar-nav .nav-link:focus { color: #dfe9ec; outline: 1rem; }

.navbar-expand-md .navbar-nav .nav-link { padding-left: 1rem; padding-right: 0.5rem; }


/* Top Content */

.logo-img {
	margin-top: 14%;

	margin-right: 20%;
	height: 450px;
}

.top-img {
	margin-left: 4%;
}

.top-head {
	margin-top: 30%;
	margin-left: 8%;
}



@media screen and (max-width: 768px)
{
	.logo-img {
		height: 350px;
		padding-top: 40px;
		align-items: center;
	}

	.top-head {
		margin-top: 5%;
	}
}


/* Footer */


footer {
	margin-top: 70px;
	padding: 40px 0 0 0;
	background:#346d7e;
	color: #ffffff;
	text-align: left;
}

/* newsletter */




.footer-right {
	text-align: right;
}

.footer-right a {
	margin: 7% 9px auto 0;
    font-size: 32px;
    color: #ffffff;
}
.footer-right a:hover, .footer-right a:focus { color:#dfe9ec; }

.footer-bottom {
	margin-top: 10%;
	margin-left: 5%;
	padding-bottom: 25px;
	text-align: center;
}

.footer-bottom a {
	font-size: 32px;
    color: #ffffff;
    line-height: 40px;
}

.footer-bottom a:hover, .footer-bottom a:focus { color:#dfe9ec; }
